<div class="container">
	<div ng-repeat="article in articles" class="jumbotron" ng-app>
		<h2>{{article.title}}</h2>
		<h2>Written by: {{article.author}}{{username}}</h2>
		<h3>written: {{article.created}}</h3>
		<p>{{article.body}}</p>
		<button type="button" class="btn" data-toggle="modal"
			data-target="#{{article.id}}">View</button>
		<!-- Modal -->
		<div id="{{article.id}}" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<!-- Head -->
						<h3>Comments :</h3>
					</div>
					<div class="modal-body">
						<!-- Body(Comments) -->
						<hr>
						<span ng-repeat="comment in article.comments">
							<table>
								<tr>
									<h4>{{comment.reader}} Says:</h4>
								</tr>
								<tr>
									<p>{{comment.body}}</p>
								</tr>
							</table>
							<hr>
						</span>
					</div>
					<div class="modal-footer">
						<form ng-submit="makeComment(article.id)" id="{{article.id}}">
							<textarea rows="4" cols="50" name="comment" form="{{article.id}}" placeholder="comment here..." ng-model="newComment.body"></textarea>
							<input type="submit" value="comment"/>
						</form>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="checkFavs(article.id,favorites)">
		<a href="#"  ng-click="addFavorite(article.id)">
          <span class="glyphicon glyphicon-star-empty"></span>
        </a>
        </div>
        <hr>
	</div>
</div>
