@CHARSET "UTF-8";

.layout{
		font-weight: 700px;
  		font-size: 4em;
		font-family: 'Baloo Bhaijaan', cursive;
		text-align: center;
  		text-shadow:0px 4px 3px rgba(0,0,0,0.4),
					0px 8px 13px rgba(0,0,0,0.1),
               		0px 18px 23px rgba(0,0,0,0.1);
        color: #e8661b;
}

body{
	background-color: #6284bc;
}

.centerMeNowGod{
text-align: center;
margin: auto;	
}
.bodyView{
	background-color: #eee;
	border-radius: 5px;
	margin: auto;
	text-align: center;
	opacity: .7;
}

